DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_NAME=""

SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

NEXT_PUBLIC_APP_URL="http://localhost:3000"
